{{#if route }}
  {{#link-to route route-object }}
    <span class="tag is-medium part-{{color}}">
      {{title}}
    </span>
  {{/link-to}}
{{else}}
  <span class="tag is-medium part-{{color}}">
    {{title}}
  </span>
{{/if}}
