<nav class="breadcrumb">
  <ul>
    <li>
      {{#link-to "application" }}Home{{/link-to}}
    </li>
    <li>
      {{#link-to "folders.folder.songs" model.folder}}
        {{model.folder.name}}
      {{/link-to}}
    </li>
    <li class="is-active">
        <a>{{model.name}}</a>
    </li>
  </ul>
</nav>

<h1 class="title">
  <span class="icon">{{fa-icon "music" size="lg"}}</span> {{model.name}}
</h1>
<h2 class="subtitle">
  {{model.description}}
</h2>
<hr>

{{#each model.songParts as |songPart|}}
  <h4 class="title is-4 song-part-section">
    {{#link-to "songs.song.edit-part" songPart.id}}
      {{#if songPart.section}}
        <span class="text-{{songPart.section.color}}">
          {{songPart.name}}
        </span>
      {{else}}
        {{songPart.name}}
      {{/if}}

    {{/link-to}}
  </h4>
  {{#each songPart.sortedSingerParts as |singerPart|}}
    {{singer-badge singer=singerPart.singer link=true}}
  {{/each}}
{{/each}}

{{outlet "modal"}}
