<div class="modal is-active">
  <div class="modal-background" {{action "cancel"}}></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        {{input
            class="modal-card-title"
            type="text"
            placeholder="Voice name"
            value=model.name}}
      </p>
      <button class="delete" {{action "cancel"}}></button>
    </header>
    <section class="modal-card-body">
      <div class="field is-grouped is-grouped-multiline">
        <div class="control">

          <h4 class="is-4">They sing this voice</h4>

          {{#each mainSingers as |singer|}}
            <span class="tags has-addons singers-list-tags">
              {{singer-badge singer=singer}}
              <a class="tag is-delete is-medium" {{action "deleteSinger" singer true}}></a>
            </span>
          {{/each}}

          <div class="dropdown {{if isMainListActive 'is-active'}}" >

            <div class="dropdown-trigger">
              <a class="tag is-medium singer-select-trigger is-delete {{if isMainListActive 'is-active'}}"
                 {{action "activateList" "main"}}></a>
            </div>

            <div class="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <div class="dropdown-item tags">
                  {{#each selectableSingers as |newSinger|}}
                    <a class="add-singer" {{action "addSinger" newSinger true}}>
                      {{singer-badge singer=newSinger}}
                    </a>
                  {{/each}}
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="field is-grouped is-grouped-multiline">
        <div class="control">

          <h4 class="is-4">They also sing this voice</h4>

          {{#each additionalSingers as |singer|}}
            <span class="tags has-addons singers-list-tags">
              {{singer-badge singer=singer}}
              <a class="tag is-delete is-medium" {{action "deleteSinger" singer false}}></a>
            </span>
          {{/each}}

          <div class="dropdown {{if isAdditionalListActive 'is-active'}}" >

            <div class="dropdown-trigger">
              <a class="tag is-medium singer-select-trigger is-delete {{if isAdditionalListActive 'is-active'}}"
                 {{action "activateList" "additional"}}></a>
            </div>

            <div class="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <div class="dropdown-item tags">
                  {{#each selectableSingers as |newSinger|}}
                    <a class="add-singer" {{action "addSinger" newSinger false}}>
                      {{singer-badge singer=newSinger}}
                    </a>
                  {{/each}}
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </section>
    <footer class="modal-card-foot">
      <a class="button is-success"
        {{action "validate"}}
        disabled={{isValidateDisabled}}>
        Save changes
      </a>
      <a label="button" {{action "cancel"}}>Cancel</a>
    </footer>
  </div>
  <button class="modal-close is-large"></button>
</div>
