
<h2 class="title is-2">
  {{model.user.name}}
  {{#link-to "singers.singer.edit" model}}
    <span class="icon is-medium">{{fa-icon "edit"}}</span>
  {{/link-to}}
</h2>

<p>
  Active:
  <span class="icon">
    {{#if model.isActive}}
      {{fa-icon "check"}}
    {{else}}
      {{fa-icon "times"}}
    {{/if}}
  </span>
</p>

<p>
  Voice section:
  {{#part-badge color=model.mainSection.color}}
    {{model.mainSection.name}}
  {{/part-badge}}
</p>

<table class="table">
  <thead>
    <th>Folder</th>
    <th>Song Title</th>
    <th>Voice part</th>
  </thead>
  <tbody>
    {{#each model.singerParts as |singerPart|}}
      <tr>
        <td>{{#link-to "folders.folder" singerPart.songPart.song.folder}}
          {{singerPart.songPart.song.folder.name}}
        {{/link-to}}</td>
        <td>{{#link-to "songs.song" singerPart.songPart.song}}
          {{singerPart.songPart.song.name}}
        {{/link-to}}</td>
        <td>{{singerPart.songPart.name}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
